<!-- add_class.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Class</title>
</head>
<body>
    <h1>Add Class</h1>
    <form action="{{ url_for('add_class') }}" method="POST">
        <label for="name">Class Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="teacher">Teacher:</label><br>
        <select id="teacher" name="teacher">
            {% for teacher in teachers %}
                <option value="{{ teacher.user.id }}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Add Class">
    </form>
</body>
</html>
