<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <p>This is your dashboard.</p>
    <ul>
        <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
        <li><a href="{{ url_for('manage_courses') }}">Manage Courses</a></li>
<!--        add course-->
        <li><a href="{{ url_for('add_course') }}">Add Course</a></li>
<!--        add class-->
        <li><a href="{{ url_for('add_class') }}">Add Class</a></li>

        <!-- Add more links as needed -->
    </ul>
</body>
</html>
