<!-- parent_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Dashboard</title>
</head>
<body>



  <h1>Welcome to the Parent Dashboard</h1>

  <h2>All Students</h2>
  <ul>
    {% for student in all_students %}
      <li>
        {{ student.first_name }} {{ student.last_name }}
        <form method="post" action="{{ url_for('send_access_request', student_id=student.id) }}">
          {{ form.hidden_tag() }}
          <input type="submit" value="Send Access Request">
        </form>
      </li>
    {% endfor %}
  </ul>



</body>
</html>
